{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">

  <title>HOME | KIOSK</title>

  <!-- Bootstrap CSS -->
  <link href="{% static 'nice-admin/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="{% static 'nice-admin/css/bootstrap-theme.css' %}" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="{% static 'nice-admin/css/elegant-icons-style.css' %}" rel="stylesheet" />
  <link href="{% static 'nice-admin/css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- full calendar css-->
  <link href="{% static 'nice-admin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
  <link href="{% static 'nice-admin/assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
  <!-- easy pie chart-->
  <link href="{% static 'nice-admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css" media="screen" />
  <!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'nice-admin/css/owl.carousel.css' %}" type="text/css">
  <link href="{% static 'nice-admin/css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'nice-admin/css/fullcalendar.css' %}">
  <link href="{% static 'nice-admin/css/widgets.css' %}" rel="stylesheet">
  <link href="{% static 'nice-admin/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'nice-admin/css/style-responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'nice-admin/css/xcharts.min.css' %}" rel=" stylesheet">
  <link href="{% static 'nice-admin/css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">

</head>

<body style="background-color: gray;">

  <div class="container">

    <form class="login" style="margin-top: 20%;" action="" method="">
      <div class="login-wrap">
        <a href="{% url 'login' %}" style="margin-left: 20%;" class="btn btn-primary btn-lg text-light">Login Please!</a>
      </div>
    </form>

</body>

</html>
