{% extends "base.html" %}

{% block content %}
<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/">Home</a></li>
          <li><i class="fa fa-laptop"></i>All Sales</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="table-responsive">
          <section class="panel">
            <header class="panel-heading">
              Sales List
            </header>
            <table class="table ml-3">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Sold By</th>
                  <th>Date Sold</th>
                  <th>Selling Amount</th>
                </tr>
              </thead>
              <tbody>
        {% for sale in object_list %}
                <tr>
                  <td>{{sale.item}}</td>
                  <td>{{sale.quantity}} {{sale.item_unit}}</td>
                  <td>{{sale.sold_by}}</td>
                  <td>{{sale.date_sold}}</td>
                  <td>{{sale.get_selling_price}}</td>
                </tr>
      {% endfor %}
              </tbody>
            </table>
          </section>
        </div>

      </div>

  </section>
</section>

{% endblock content %}
